body{
     padding-top: constant(safe-area-inset-top); 
     padding-left: constant(safe-area-inset-left);
     padding-right: constant(safe-area-inset-right); 
     padding-bottom: constant(safe-area-inset-bottom); 
 }
 .gobackfont{
  display: inline-block;
  position:relative;
font-size:20px;
line-height:2.6rem;
margin-top:2.5rem;
margin-left: 0.3rem;
vertical-align:top;
font-weight: 100;
}

.navag
{
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #ffffff;
  border-bottom: gray 0.4px solid;
}
.goback{
  z-index: 2;
  color:gray;
  top:50%;
  }
  .gobackicon{
    display: inline-block;
    position:relative;
  font-size:20px;
  line-height:4rem;
  margin-top:1.6rem;
  margin-left: 2rem;
  font-weight: 140;
  vertical-align:top;
  
  }